<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anyue.greendao.mykang">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppBG"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddUsers"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.QueryUsers"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity android:name=".activity.DeluserActivity"></activity>

        <activity android:name=".activity.UpdataActivity"></activity>
        <activity android:name=".activity.YaoyueAtivity"></activity>
    </application>

</manifest>